@model List<Product>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Isim</th>
                <th>Fiyat</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Product item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
            </tr>
        }



        </tbody>



    </table>